<%= form_with(model: part, local: true, html: {class: form_class}) do |form| %>
  <% if part.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(part.errors.count, "error") %> prohibited this part from being saved:</h2>

      <ul>
        <% part.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="fields">
      <div class="field">
          <%= form.label :part_type %>
          <%= form.text_field :part_type, placeholder: "e.g. Resistor" %>
      </div>
  </div>

  <div class="fields">
      <div class="field">
          <%= form.label :value %>
          <%= form.text_field :value, placeholder: "e.g. 1kΩ" %>
      </div>
      <div class="field">
          <%= form.label :quantity %>
          <%= form.number_field :quantity, min: 1, size: 3 %>
      </div>
  </div>

  <div class="actions">
      <%= form.submit "Add parts to stock" %>
  </div>
<% end %>
