<% content_for :nav do %>
    <h2>Parts</h2>
<% end %>

<p id="notice"><%= notice %></p>

<div class="grid">

    <% @parts.group_by(&:part_type).each do |type, parts| %>
        <div class="card">
            <h3><%= type.pluralize %></h3>
            <table>
                <% parts.sort_by(&:sortable_value).each do |part| %>
                    <tr>
                        <td width="100%"><%= part.value %></td>
                        <td class="numeric"><%= part.quantity %></td>
                    </tr>
                <% end %>
            </table>
        </div>
    <% end %>

    <%= render 'form', part: Part.new, form_class: 'card' %>
</div>
