<p id="notice"><%= notice %></p>

<h1>Parts</h1>

<table>

    <% @parts.group_by(&:part_type).each do |type, parts| %>
        <tbody>
            <tr><th colspan="2"><%= type.pluralize %></th></tr>
            <% parts.sort_by(&:sortable_value).each do |part| %>
                <tr>
                    <th><%= part.quantity %>&times;</th>
                    <td><%= part.value %></td>
                </tr>
            <% end %>
        </tbody>
    <% end %>
</table>

<br>

<%= link_to 'New Part', new_part_path %>
