<p id="notice"><%= notice %></p>

<h1>Parts</h1>

<main class="grid">

    <% @parts.group_by(&:part_type).each do |type, parts| %>
        <div class="card">
            <h3><%= type.pluralize %></h3>
            <ul>
                <% parts.sort_by(&:sortable_value).each do |part| %>
                    <li>
                        <strong><%= part.quantity %>&times;</strong>
                        <%= part.value %>
                    </li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <%= render 'form', part: Part.new, form_class: 'card' %>
</main>
