<p id="notice"><%= notice %></p>

<p>
  <strong>Part type:</strong>
  <%= @part.part_type %>
</p>

<p>
  <strong>Value:</strong>
  <%= @part.value %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @part.quantity %>
</p>

<%= link_to 'Edit', edit_part_path(@part) %> |
<%= link_to 'Back', parts_path %>
