<% form_class ||= nil %>
<% requirement = Requirement.new(project: project, part: Part.new) %>

<%= form_with model: [project, requirement], html: {class: form_class} do |f| %>
	<div class="fields">
		<%= f.fields_for requirement.part do |p| %>
			<div class="field">
				<%= p.label :part_type %>
				<%= p.text_field :part_type, placeholder: 'e.g. Resistor' %>
			</div>
		<% end %>
	</div>
	<div class="fields">
		<%= f.fields_for requirement.part do |p| %>
			<div class="field">
				<%= p.label :value %>
				<%= p.text_field :value, placeholder: 'e.g 1kΩ' %>
			</div>
		<% end %>

		<div class="field small">
			<%= f.label :quantity %>
			<%= f.number_field :quantity, min: 1, size: 3 %>
		</div>
	</div>
	<%= f.submit 'Add project parts' %>
<% end %>
