<% content_for :nav do %>
	<%= link_to 'Parts stock', parts_path %>
<% end %>

<div class="grid">
	<% unless @parts.empty? %>
		<section class="card">
			<h3>Parts to buy</h3>

			<table>
				<% @parts.group_by(&:part_type).each do |type, parts| %>
					<thead>
						<tr>
							<th colspan="4"><%= type.pluralize %></th>
						</tr>
					</thead>
					<tbody>
						<% parts.each do |part| %>
							<tr>
								<td width="100%"><%= part.value %></td>
								<td class="numeric">
									<strong><%= -part.remaining_quantity %></strong>
								</td>
							</tr>
						<% end %>
					</tbody>
				<% end %>
			</table>
		</section>
	<% end %>

	<%= render @projects %>
	<%= render 'projects/form', project: Project.new, form_class: 'card' %>
</div>
