<%= link_to project, class: ['card', ('wide' if project.requirements.length > 20)] do %>
	<h3><%= project.name %></h3>
	<% unless project.requirements.empty? %>
		<% if project.ready %>
			<strong>✓</strong> All parts in stock
		<% else %>
			<%= render 'grouped_table', {
				groups: project.missing.group_by(&:part_type),
				get_title: :pluralize.to_proc
			} do |req| %>
				<td width="100%"><%= req.part.value %></td>
				<td class="numeric missing">
					<%= req.part.quantity %>
				</td>
				<td class="separator">/</td>
				<td class="numeric">
					<%= req.quantity %>
				</td>
			<% end %>
		<% end %>
	<% end %>
<% end %>
