<% content_for :nav do %>
	<h2>Editing project</h2>
	<%= render 'form', project: @project %>
	<%= link_to 'Back', @project, class: [:button, :secondary] %>
<% end %>

<table class="big striped">
	<% @project.requirements.group_by(&:part_type).each do |type, reqs| %>
		<thead>
			<th colspan="2"><%= type.pluralize %></th>
		</thead>
		<tbody>
			<% reqs.each do |req| %>
				<tr>
					<td width="100%"><%= req.part.value %></td>
					<td>
						<%= form_with model: [@project, req] do |f| %>
							<div class="fields">
								<%= f.number_field :quantity, size: 3, min: 1 %>
								<%= f.submit '✓' %>
								<%= button_to '✗', [@project, req], method: :delete, class: :secondary %>
							</div>
						<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>
	<% end %>
</table>
