<% content_for :nav do %>
	<%= link_to 'Parts stock', parts_path %>
<% end %>

<div class="grid">
	<% unless @parts.empty? %>
		<%= link_to add_parts_path, class: ['card', ('wide' if @parts.length > 20)] do %>
			<h3>Parts to buy</h3>

			<%= render 'grouped_table', {
				groups:  @parts.group_by(&:part_type),
				get_title: :pluralize.to_proc
			} do |part| %>
				<td width="100%"><%= part.value %></td>
				<td class="numeric">
					<strong><%= -part.remaining_quantity %></strong>
				</td>
			<% end %>
		<% end %>
	<% end %>

	<%= render @projects %>
	<%= render 'projects/form', project: Project.new, form_class: 'card' %>
</div>
