<p id="notice"><%= notice %></p>

<h1><%= @project.name %></h1>

<main class="grid">
    <% @project.requirements_by_part_type.each do |type, requirements| %>
        <section class="card">
            <h3><%= type.pluralize %></h3>
            <ul>
                <% requirements.each do |requirement| %>
                    <li>
                        <strong><%= requirement.quantity %>&times;</strong>
                    <%= requirement.part.value %>
                    / <%= requirement.part.remaining_quantity(excluding: requirement) %>
                </li>
            <% end %>
            </ul>
        </section>
    <% end %>

    <%= render 'requirements/form', project: @project %>
</main>
