<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<ul>
<% @project.requirements.each do |requirement| %>
    <li><%=requirement.part.part_type %> <%=requirement.part.value %> &times;<%= requirement.quantity %></li>
<% end %>
</ul>
