<p id="notice"><%= notice %></p>

<h1><%= @project.name %></h1>

<table>
    <% @project.requirements.each do |requirement| %>
        <tr>
            <th><%= requirement.quantity %>&times;</th>
            <td><%= requirement.part.part_type %></td>
            <td><%= requirement.part.value %></td>
            <td>/ <%= requirement.part.remaining_quantity(excluding: requirement) %></td>
        </tr>
    <% end %>

    <tr>
        <td colspan="4">
            <%= form_with model: [@project, @requirement] do |f| %>
                <%= f.fields_for @requirement.part do |p| %>
                    <%= p.text_field :part_type %>
                    <%= p.text_field :value %>
                <% end %>
                <%= f.number_field :quantity %>
                <%= f.submit %>
            <% end %>
        </td>
    </tr>
</table>
