<p id="notice"><%= notice %></p>

<h1><%= @project.name %></h1>

<main class="grid">
    <% @project.requirements_by_part_type.each do |type, requirements| %>
        <section class="card">
            <h3><%= type.pluralize %></h3>
            <table>
                <% requirements.each do |requirement| %>
                    <tr>
                        <td width="100%"><%= requirement.part.value %></td>
                        <td class="numeric <%= "missing" unless requirement.fulfilled %>">
                            <%= requirement.part.quantity %>
                        </td>
                        <td class="separator">/</td>
                        <td class="numeric">
                            <%= requirement.quantity %>
                        </td>
                    </tr>
                <% end %>
            </table>
        </section>
    <% end %>

    <%= render 'requirements/form', project: @project %>
</main>
