<%= extends :base do %>
    <header>
        <%= link_to root_path, class: 'logo' do %>
            <img src="/logo.svg" alt="Korok logo" width="40">
            <h1>Korok</h1>
        <% end %>
        <% if content_for? :nav %>
            <nav>
                <%= content_for :nav %>
            </nav>
        <% end %>
        <% if current_user %>
            <%= link_to log_out_path, class: :user do %>
                <%= image_tag current_user.gravatar, class: :gravatar %>
                <%= current_user.email %>
            <% end %>
        <% end %>
    </header>

    <main>
        <%= yield %>
    </main>
<% end %>
